<div class="jumbotron">
  <div
    class="bg-image"
    style="
      background-image: url('https://i.picsum.photos/id/1022/6000/3376.jpg?hmac=FBA9Qbec8NfDlxj8xLhV9k3DQEKEc-3zxkQM-hmfcy0');
      height: 50vh;
    "
  >
    <div
      class="container"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
      "
    >
      <h1 style="color: white">Web Application EJS + Express</h1>
    </div>
  </div>
</div>
