<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Rove</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/switch-to-home">Switch To Home</a>
          </li>
        </ul>
      </nav>
    </header>

    <main><%- include('../partials/body'); %></main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
