<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/rove">Rove</a>
      </nav>
    </header>
    <h1>Switch to Home Mode</h1>
    <form action="/switch-to-home" method="post">
      <input
        type="text"
        placeholder="Type your PIN code"
        name="pinCode"
        value="1234"
      />
      <input type="submit" value="Submit" class="btn btn-success" />
    </form>
  </body>
</html>
