<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <h1>Switch to Home Mode</h1>
    <form action="/switch-to-home" method="post">
      <input type="text" placeholder="Type your PIN code" name="pinCode" />
      <input type="submit" value="Submit" class="btn btn-success" />
    </form>
  </body>
</html>
